*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(192, 192, 192);
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    box-shadow: 0 0 10px black;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;


}
h1{
    color: white;
    letter-spacing: -3px;
}
.tudo{
    color: blue;

}
.com{
    font-size: 15px;
    letter-spacing: normal;
}

.menu{
    display: flex;
}

.menu > li:hover {
    background-color: rgb(70, 7, 216);
    color:white;
   

}
.menu li:hover > .submenu {
    background-color: rgb(70, 7, 216);
    color:white;
    display: block;
    text-decoration: none;
}
li{
    list-style: none;
    position: relative;
}
.links{
    padding: 17px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    display: block;
}


.submenu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgb(70, 7, 216);
    text-decoration: none;
    color: white;
    min-width: 110%;
}

.submenu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}

.submenu li:hover{
    background-color: rgb(62, 10, 184);
}

.submenu > li:hover > .submenu {
    background-color: rgb(70, 7, 216);
    color:white;
    display: block;
    text-decoration: none;
}

.submenu li{
    position: relative;
}

.submenu li .submenu{
    top: 0;
    left: 100%;
}